@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/landscape.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    text-align: center;
    padding-top: 6rem;
    font-size: 4em;
}

#container {
    position: absolute;
    bottom: 10%;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr .5fr 400px .5fr 2fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
        ". bGen monster . log"
        ". bActions bActions bActions .";
}

.monster {
    display: inline-block;
    vertical-align: top;
    height: 250px;
}

#c-monster {
    grid-area: monster;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#monster {
    border-radius: 45%;
    background-image: url('../images/monster_1.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
}

#log {
    grid-area: log;
    margin-left: 50px;
}

#log-alive {
    margin-top: .7rem;
}

#actionbox {
    justify-self: start;
    align-self: center;
    background-color: rgba(134, 151, 161, .8);
    border: 1px solid rgb(128, 128, 128);
    width: 400px;
    overflow-y: scroll;
}
#actionbox >p {
    margin: 0 ;
}
ul#status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
}

ul#status li {
    margin-left : 20px;
}

#c-buttons-actions {
    grid-area: bActions;
    margin-top: 2rem;
    text-align: center;
}

#c-buttons-general {
    grid-area: bGen;
    justify-self: center;
    align-self: center;
}

button {
    width: 75px;
    height: 40px;
    background-color: #74e9e1;
    border: 0;
    margin-right: 8px;
    border-radius: 5px;
    font-size: 1rem;
}

.button-disabled {
    background-color: rgb(134, 151, 161);
    cursor: not-allowed;
}

#c-buttons-general > button {
    display: block;
    margin-top: 1rem;
}

button:hover {
    background-color: dodgerblue;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    color: #f9c754;
}

#footer >a {
    color: inherit;
}

#citation {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: .7rem;
}
