@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    background-image: url("../images/48km_7zmv_201128.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
    padding-top: 6rem;
    font-size: 4em;
    font-weight: bold;
}

h4 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

ul {
    margin: 0;
}

#c-monster {
    margin-bottom: 1rem;
}

#monster {
    border-radius: 45%;
    background-image: url('../images/monster_1.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
}

#log {
    margin-bottom: 1rem;
}

#log-alive {
    margin-bottom: .7rem;
}

#actionbox {
    justify-self: start;
    align-self: center;
    background-color: rgba(134, 151, 161, .8);
    border: 1px solid rgb(128, 128, 128);
    height: 400px;
    width: 450px;
    overflow-y: scroll;
}

#actionbox >p {
    margin: 0 ;
    color: black;
}


ul#status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
}

ul#status li {
    margin-left : 20px;
}

button {
    width: 75px;
    height: 40px;
    background-color: #74e9e1;
    border: 0;
    margin-right: 8px;
    border-radius: 5px;
    font-size: .9rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.button-disabled {
    background-color: rgb(134, 151, 161);
    cursor: not-allowed;
}

button:hover {
    background-color: dodgerblue;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    color: #f9c754;
}

#footer >a {
    color: inherit;
}

#citation {
    position: fixed;
    bottom: 2px;
    right: 2px;
    font-size: .7rem;
}

#helpBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #c07929;
}

#helpBtn:hover {
    background-color: #ac641a;
}


#c-modal {
    display: none;
}

#modal-closeBtn:hover,
#modal-closeBtn:focus {
    cursor: pointer;
}


#c-modal {
    display: none;
    position: fixed;
    border-radius: 5px;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

#modal {
    background-color: rgba(255, 255, 255, .95);
    border: 1px solid #888;
    margin: 5rem auto;
    height: 80%;
    border-radius: 5px;
    padding: 50px;
}

#modal-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#modal-content {
    text-align: justify;
    margin-bottom: 50px;
    height: 80%;
    padding-right: 10px;
    overflow-y: auto;
}

#modal-closeBtn {
    background: none;
    font-size: 3rem;
    width: auto;
    height: auto;
}